extends layout

block content
  h1= title
  p Welcome to #{title}

  if username
    h2 Witaj #{username}!

    h3 Twoje dane
    p
      | #[strong Imię]: #{patient_instance.first_name} <br>
      | #[strong Nazwisko]: #{patient_instance.last_name} <br>
      | #[strong PESEL]: #{patient_instance.pesel}<br>
      | #[strong E-mail]: #{patient_instance.email}

  form(method='POST' action='/users/logout')
    button.btn.btn-primary(type='submit') Wyloguj